*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* overflow: hidden; */
}
html,body{
  width: 100%;
  height: 100%;
  background-color: black;
  color: #fff;
}
#main{
  width: 100%;
}
#hero{
  width: 100%;
}
#navbar{
  position: fixed;
  top: 0vw;

  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 2.5vw 3vw;
  color: aliceblue;
  z-index: 100;
}

#navbar a{
  text-decoration: none;
  color: aliceblue;
  font-size: 1.5vw;
  font-weight: bold;
}
#navbar h2{
  position: relative;
  font-size: 1.1vw;
  cursor: pointer;
}


#heading{
  color: aliceblue;
  margin-top: 86px;
  margin-left: 2.5vw;
  padding-top: 8vw;
}
#heading h1{
  opacity: .6;
  font-size:10vw;
  text-transform: uppercase;
  font-weight: 550;
  line-height: 1;
}
#heading #secondh1{
  margin-left: 8vw;
}
#heading h5{
  margin-left: 46vw;
  margin-top: 1vw;
  font-size: 1vw;
}
#right{
  position: relative;
  height: 10%;
  /* background-color: red */
  text-align: end;
  margin-right: 3vw;
  margin-top: 5.4vw;
  font-weight: bold;
  line-height: 2.5vw;
  font-size: 1.2vw;
  }
  
  #hero-bottom{
    display: flex;
    justify-content: space-between;
    /* margin-top: 1vw; */
    padding: 0vw 1vw;
    font-weight: bold;
    font-size: 1.2vw;

}
#hero-bottom #icon{
  display: flex;
  gap: .5vw;
  margin-right:2vw;
  color: black;
}
#circle{
  padding: .2vw .5vw;
  background-color: #ffffff83;
  border-radius: 50%;
}
/* #icon i{
  padding: .5vw;
  background-color: #fff;
  color: black;
  border-radius: 50%;
}  */


#hero-bottom p i{
  margin-left: .5vw;
  transform: rotate(-22deg);
}

#navbar h2{
  position: relative;
  text-decoration: none;
  overflow: hidden;
  display: inline-block;

}
#navbar h2::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width .3s ease-in;
}
#navbar h2:hover::after{
  width: 100%;
}


#hero-bottom p {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
#hero-bottom p::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #fff;
  transition: width .3s ease-in;
}
#hero-bottom p:hover::after{
  width: 100%;
  cursor: pointer;
} 

#second{
  padding-top: 13vw;
  width: 100%;
  /* background-color: black; */
  color: white;
  padding-left: 2vw;
}

#elements{
  position: relative;
  width: 90%;
  border-top: 1px solid rgba(232, 232, 236, 0.514);
  display: flex;
  justify-content: space-between;
  font-size:3.5vw;
  padding: 5vw 0vw;
  text-transform:uppercase ;
  /* opacity: .4; */
  align-items: center;
}
#elements h1{
  opacity: .4;
}
#elements #date{
  font-size: 1vw;
  
}
.last{
  border-bottom: 1px solid rgba(245, 245, 245, 0.582);
}
#elements img{
  position: absolute;
  z-index: 99;
  height: 120%;
  display: none;
}
#about-section{
  padding-top: 21vw;
  width: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  
}
#about-section img{
  height: 17vw;
  margin-left: 28vw;
  
}
#about{
  display: flex;
  align-items: center;
  justify-content: center
  
}


#about-font{
  width: 40%;
  margin-left: 7vw;
  padding-right: 6vw;
  margin-top: 3vw;
}
#about-font p{
  font-size: 1.5vw;
  line-height: 1.9vw;
  margin-bottom: 2.5vw;
}
#me{
  opacity: .4;
  font-size: .5vw;
}

#about-font a{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 19px 19px;
  padding: .5vw 1.5vw;
  transition: color 0.3s ease,  0.3s ease; 
}
#about-font a:hover{
  color: black;
  background-color: #fff 
}
#subscribe-part {
  color: #fff;
  margin-top: 8vw;
  margin-left: 3vw;
  margin-bottom: 4vw;
  cursor: pointer;
}
#forgot{
  opacity: .4;
  font-size: 1.1vw;
  margin-bottom: .4vw;
}
#subscribe-part{
  font-size: 1.3vw;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#subscribe-part p::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #fff;
  transition: width .3s ease-in;
}
#subscribe-part p:hover::after{
  width: 100%;
  cursor: pointer;
} 
#footer{
  display: flex;
  justify-content: space-between;
  margin-top: 4vw;
  padding-bottom: 2vw;
}
#year-time{
  display: flex;
  margin-left: 3vw;
  gap: 2vw;
  font-size: 1.4vw;
  font-weight: bold;
}
#social{
  display: flex;
  gap: 2.5vw;
  margin-right: 2vw;
  font-size: 2vw;
  cursor: pointer;
}
#footer h4{
  font-size: 1.3vw;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#footer h4::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #fff;
  transition: width .3s ease-in;
}
#footer h4:hover::after{
  width: 100%;
  cursor: pointer;
}